 <!-- Introduction -->
<div id="intro" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-center justify-content-center">We help business owners create and launch digital products</h1>
            </div> <!-- end of col --
            @*<div class="col-lg-6">*@
                @*<div class="text-container">
                    <p><strong>Planing</strong> led ask possible mistress relation elegance eat likewise debatin. By message or am nothing amongst chiefly address of research</p>
                    <p><strong>Designing</strong> the its enable direct men depend highly. Ham windows sixte who inquiry fortune demands. Is be force upon and of course</p>
                    <p><strong>Development</strong> sang fond must shew. Really boy law county she unable her sister. Feet you off its. Among are leave law built now</p>
                </div*@> <!-- end of text-container -->
            @* </div>*@ <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of introduction -->
<!-- Project 1 -->
<div id="projects" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Do your business have a website</h2>
                    <p>Business data management is our core drive. We develop and deploy both on cloud(Microsoft Azure) and on-premises. Our solutions for business is simple and easier to use, it enhances business productivity, and cutting across many sphere of reach.</p>
                    @*<a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>*@
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="~/images/product3BuzSolution.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of project 1 -->
<!-- Project 2 -->
<div class="basic-3 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="~/images/custom-church-websites.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Church Solution</h2>
                    <p>We have our stand in creating a solution for churches. A platform in managing church data. With various departments and activities that can be so cubbersome in managing, we have the right tools to give ease to every challenges.</p>
                    @* <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a> <a class="btn-outline-reg" href="article.html">Details</a>*@
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of project 2 -->
<!-- Project 3 -->
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>Individual Profiling</h2>
                    <p>Our aim is not just for business growth, we also develop individual profiling solution. We develop solution for individual profiling. Are you a personality that have some worth to put forth out there, we exist to help you out. </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="~/images/CapturePersonalWebsite.PNG" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of project 3 -->
<!-- Process -->
<div class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Our product making process</h2>
                <hr class="hr-heading">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="step-container">
                    <div class="step">PLAN</div>
                    <i class="fas fa-chevron-right"></i>
                    <div class="step">DESIGN</div>
                    <i class="fas fa-chevron-right"></i>
                    <div class="step">DEVELOP</div>
                </div> <!-- end of step-container -->
              @*  <p>Abroad no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add insensible everything and friendship conviction themselves. Theirs months ten and more words are  here had</p>*@
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of process -->
<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Why should you need our service</h2>
                <hr class="hr-heading">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-xl-6">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <h5 class="number">1.</h5>
                        <div class="flex-grow-1">
                            <h5>Expertise in cloud solutions</h5>
                            <div class="text">We do not only lauch our solutions on-premises we also lauch in cloud</div>
                        </div>
                    </li>
                    <li class="d-flex">
                        <h5 class="number">2.</h5>
                        <div class="flex-grow-1">
                            <h5>Highly skilled team of experts</h5>
                            <div class="text">Our experts are  ICT experienced personnel highly trained and masters in the field</div>
                        </div>
                    </li>
                    @*<li class="d-flex">
                        <h5 class="number">3.</h5>
                        <div class="flex-grow-1">
                            <h5>Partnerships with marketing agencies</h5>
                            <div class="text">Be at miss or each good play home they. It leave taste mr in it fancy. She son lose does fond bred gave lady get. Sir her company</div>
                        </div>
                    </li>*@
                </ul>
            </div> <!-- end of col -->
            <div class="col-xl-6">

                <!-- Counter -->
                <div class="counter-container">
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Happy Customers</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1.5" class="purecounter">1</div>
                        <div class="counter-info">Issues Solved</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="45" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Good Reviews</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="3" class="purecounter">1</div>
                        <div class="counter-info">Case Studies</div>
                    </div> <!-- end of counter-cell -->
                </div> <!-- end of counter-container -->
                <!-- end of counter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of about -->
<!-- Testimonials -->
<div class="slider-1">
    <img class="quotes-decoration" src="images/quotes.svg" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">


                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="~/images/Smart.jpg" alt="alternative">
                                <p class="testimonial-text">“Alfred a .Net Core expert and a trained personnel in software engineering has earned Microsoft Certifications. For years now, he has been in this ICT industries with hands on desk.”</p>
                                <div class="testimonial-author">Alfred Smart</div>
                                <div class="testimonial-position">Team Leader</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->


                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        @*<div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>*@
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->
<!-- Contact -->
<div id="contact" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Let us know about your project</h2>
                @*  <p class="p-heading">Of will at sell well at as. Too want but tall nay like old removing yourself today</p>*@
                <ul class="list-unstyled li-space-lg">
                    <li><i class="fas fa-map-marker-alt"></i> &nbsp;8A, Dr Ladi Alakija Avenue, Lekki Phase 1, Lagos</li>
                    <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:08053059709">+2348053059709</a></li>
                    <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:smartcodesolutiontech@gmail.com">Mail Us</a></li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <!-- Contact Form -->
                <div id="message">
                    <partial name="_YourMessage">
                </div>
                    <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of contact -->
<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img src="images/up-arrow.png" alt="alternative">
</button>
<!-- end of back to top button -->