li #about{
    cursor:pointer;
    
}
a #aboutml {
    margin-right: 4.7rem;
}
li #contact{
    cursor: pointer
}
li .fontfam{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
div #prettyfont {
    font: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
p.mr{
    margin-right:2.5rem;
}